<<<<<<< HEAD
<h1>Password reset was requested for your account</h1>

<p>Hello, <%= @user.first_name %> <%= @user.last_name %>.</p>
<p>
  Someone requested a password reset
  for account with email <%= @user.email %>.
</p>

<p>
  Use token
  <span class="mono"><%= @user.password_reset_token %></span>
  to reset your password.
</p>
||||||| 858544b
=======
<h1>Password reset was requested for your account</h1>

<p>Hello, <%= @user.first_name %> <%= @user.last_name %>.</p>
<p>
  Someone requested a password reset
  for account with email <%= @user.email %>.
</p>

<p>
  Follow <%= link_to "this link", @password_recovery_link %>
  to reset your password.
</p>
>>>>>>> master
